.text {
  text-decoration: none;
  color: black;
  font-weight: 600;
  cursor: grab;
}

.textW {
  color: black;
}
.box:hover {
  background-color: rgb(128, 128, 128);
}

.box {
  padding: 10px 15px;
  border-radius: 15px;
  text-align: left;
}
.navItem {
  display: block;
  font-size: 32px;
  margin-bottom: 20px;
}

.gray {
  background-color: #585858;
}

.lightGreen {
  background-color: #a7d787;
}

.green {
  background-color: #659645;
}

.superLightGreen {
  background-color: #d6edc8;
}

.white {
  background-color: white;
}
