.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.header {
  background: #659645;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.header span {
  margin: 0;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.actions {
  padding: 1rem;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
.cross {
  cursor: grab;
}

.button {
  text-align: center !important;
  border-radius: 5px !important;
}

.settings-button {
  width: 40% !important;
  margin-bottom: 10px !important;
  padding-left: 0px !important;
  text-align: center !important;
  align-self: center !important;
}

.settings-button-admin {
  background-color: orangered;
}

.imageCross {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  z-index: 100;
}
